.homepage-container{
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../public/1f4a76b7fca8293d3a5a43a1952c2fa8.jpg);
  // background-size: 1920px 1000px;
  // background-position: -500px 0;
  // animation: background 40s infinite alternate linear;

  
}

.homepage-menu-container{
  width: 50%;
  min-width: 300px ;
  height: 70vw;
  min-height: 600px;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .play-tittle{
    color: white;
    font-family: 'Press Start 2P', cursive;
    transition: 400ms;
    font-size: 3.5em;
    text-align: center;
    margin-top: 100px;

  
  }

  .play-btns-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30PX;

    .general-btn{
      width: 90%;
      min-width: 150px;
      height: 2.5em;
      border: 1px solid white;
      border-radius: 7px;
      background-color: transparent;
      color: white;
      cursor: pointer;
      font-size: 3em;

    }

    .play-btn{
      background-image: linear-gradient(to right, rgba(51, 31, 105, 0.555), rgba(118, 77, 230, 0.555)) ;
      font-family: 'Press Start 2P', cursive;

      &:hover{
      background-image: linear-gradient(to right, rgb(51, 31, 105), rgb(118, 77, 230)) ;

      }

      
    }

    // .leaderboard-btn{
    // font-family: 'Press Start 2P', cursive;
    // background-image: linear-gradient(to right, rgba(51, 31, 105, 0.555), rgba(118, 77, 230, 0.555)) ;


    // }
  }




}



// @keyframes rotation {
//   from{transform: rotate(0deg);}
//   to{transform: rotate(359deg);}
  
// }

// @keyframes pulse {
//   0%{box-shadow: 0 0 0 0 rgb(231, 84, 16);}
//   90%{box-shadow: 0 0 0 20px rgba(231, 84, 16, 0.4);}
//   100%{box-shadow: 0 0 0 60px rgba(231, 84, 16, 0.027);}
// }

// .ranking-btn {
// color: white;
// border: 2px solid white;
// padding: 15px 30px;
// border-radius: 15px;
// background-color: #f87a26;
// cursor: pointer;
// font-size: 1.1em;
// transition: 200ms;



// }


.ranking-btn::after{
  transition: transform 0.5s ease;
}

.ranking-btn:hover{
  font-size: 1.4em;



}





