.login-container{
  width: 35%;
  height: 350px;
  border: 1px solid #FA7921;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 150px;
  
}
.login--label{
  color: white;
  text-transform: uppercase;
  margin: 15px auto 15px auto;
  width: 90%;
  text-align: center;
 

}

.login--input{
  width: 70%;
  margin: 0 auto;
  height: 30px;
  border: 1px solid transparent;
  border-radius: 10px;
}

.login-btn-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-btn{
  margin-top: 30px;
  width: 70%;
  text-transform: uppercase;


}