.login-container{
  width: 70%;
  max-width: 300px ;
  height: 350px;
  background-color:#026a9bf6 ;
  border: 1px solid #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 150px;
  align-items: center;

  
}
.login--label{
  color: white;
  text-transform: uppercase;
  margin: 15px auto 15px auto;
  width: 90%;
  text-align: center;

}

.login--input{
  width: 70%;
  margin: 0 auto;
  height: 30px;
  border: 1px solid transparent;
  border-radius: 10px;
}

.login-btn-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-container input:nth-child(4){
  margin-bottom: 30px;
}

