.bg-login-container{
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  background-image: url(../../public/Particles-1s-3000px.svg);
  // background-image: linear-gradient(-20deg, #49216e 0%, #7835b8 50%, #9941ec 100% );
  background-size: 2131px 1000px;
  background-position: -500px 0;
  animation: background 100s infinite alternate linear;

}

.login-wrapper{

height: 100vh;
width: auto ;
display: flex;
flex-direction: column;

}

.profile-gif{
  margin-bottom: 35px;
  width: 170px;
  height: 170px;
  border: 2px solid #abff8a;
  border-radius: 50%;
  background-image: url(../../public/21-avatar-lineal.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.login-container{
  width: 35%;
  min-width: 300px;
  height: 100vh;
  // background-image: linear-gradient(-20deg, #49216e 0%, #7835b8 50%, #9941ec 100% );
  background-color: #49216e;
  border-right: 4px solid #ffffff;
  border-left: 4px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;

  
}
.login--label{
  color: white;
  text-transform: uppercase;
  margin: 15px auto 15px auto;
  width: 90%;
  text-align: center;

}

.login--input{
  width: 70%;
  margin: 0 auto;
  height: 30px;
  border: 1px solid transparent;
  border-radius: 10px;
}

.login-btn-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

