.mainpage--container{
  margin: 100px auto;
  width: 300px;
  height: 300px;
  border: 1px solid #FE9920;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;

}

.btn-link{
  width: 70%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid transparent;
  color: white;
  background-color: #FA7921;
  display: flex;
  align-items: center;
  justify-content: center;
  // change the thickness



}

.register-container input:nth-child(6){
  margin-bottom: 30px;
  
}

