.mainpage--container{
  margin: 25vh auto;
  width: 300px;
  height: 300px;

  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background-color: #026a9bf6;
  

}
.mainpage--container:hover{
  background-color: #065c85;


}


.btn-link{
//   width: 70%;
//   height: 40px;
//   border-radius: 5px;
//   border: 1px solid transparent;
//   color: white;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   // change the thickness
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;



}


.register-container input:nth-child(6){
  margin-bottom: 30px;
  
}

