.mainpage--container{
  margin: 15vh auto;
  width: 70%;
  height: 600px;

  border: 1px solid white;
  border-radius: 5px;
  
  background-color: #026a9bf6;
  

}
.mainpage--container:hover{
  background-color: #0f8bc5;


}
.title-container{
  width: 700px;
  border: red 1px solid;
}


.title-mainpage{
  color: white;
  font-size: 3em;
  text-align: center;
}
.subtitle-mainpage{
  color: white;
}




.btn-link{
//   width: 70%;
//   height: 40px;
//   border-radius: 5px;
//   border: 1px solid transparent;
//   color: white;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   // change the thickness
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;



}


.register-container input:nth-child(6){
  margin-bottom: 30px;
  
}

