.mainpage--container{
  margin: 5vh auto;
  width: 80%;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #009be2f6;
  min-height: 80vh;
  background-image: url(../../public/cool-background2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.top-bar-container{
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  
  .title-container{
    width: fit-content;
    padding-top: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;

    .fa-feather{
      color: rgb(255, 255, 255);
    }

    .h1-title-container{
      display: flex;
      flex-direction: column;
      align-items: center;

      .title-mainpage{
        color: rgb(255, 255, 255);
        text-align: center;
        margin: 0;
        padding-right: 10px;
      }
    }

  }

  
}
.content-container {
  width: calc(100% - 40px);
  height: 85%;
  padding-left: 40px;
  display: flex;
  align-items: center;
  margin-top: 50px;

  .content-container-left{
    width: 40%;
    height: 80%;
    min-height: 408px ;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    .content-container-left-text{

      span{
        margin: 0;
        color: rgb(35, 100, 175);
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;

      }
      
      h3{
        color: white;
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        // font-size: min(max(1.5em, 4vw), 3.5em); 

      }
      
      h4{
        color: rgb(255, 255, 255);
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        margin: 0;

      }
   
    }

    .content-container-left-subtext{   
      min-width: 182px;
      max-height: 190px ;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 40px;
    
      h5 { 
        color: white;
        margin: 0;
        font-size: 1em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;

      }
      
    }
    .content-container-left-subtext-links{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2.5vw;
      margin-top: 15px;
      margin-bottom: 30px;
      
      .a-link-login{
        width: 150px;
        min-width: 100px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        

      }

      .btn-login{
        background-image: linear-gradient(to right, rgb(51, 31, 105), rgb(118, 77, 230)) ;
        box-shadow: rgba(0, 0, 0, 0.56) 10px 7px 15px 1px;
        color: rgb(241, 235, 235);
        font-weight: 500;

        &:hover{
        background-image: linear-gradient(to right, rgb(66, 35, 151), rgb(131, 91, 243)) ;
        }
      }
      .btn-register{
        border: 2px solid rgb(111, 111, 211);
        color: rgb(241, 235, 235);
        box-shadow: rgba(0, 0, 0, 0.56) 10px 7px 15px 1px;


        &:hover{
        border: 2px solid rgb(70, 70, 212);
        font-weight: 500;
        background-color: rgb(35, 100, 175);


        }

      }
    }
  }


  
}



@media only screen and (max-width: 800px) {

  .top-bar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .title-mainpage-topnav{
    
      width: 30%;
      display: flex;
      justify-content: flex-end;
      line-height: 33px;

      .hamburguer{
        display: flex;
        justify-content: flex-end;
       

      }

      .normal-Li{
        display: none;
      }
      .small-Li{
        font-size: 1.5em;
        text-align: right;
        padding-right: 30px ;
      }

    
  }

  .fa-feather{
    color: white;
    font-size: 3.9em;
  }
  .title-mainpage{
    font-size: 1.3em;

  }

  .content-container{
    flex-wrap: wrap;
    width: 90%;
    padding-left: 0;
    margin: 0 auto;

   
    
      .content-container-left{
        width: 100%;
      
        span {
          font-size: 3.5em;
          text-align: center;
          
        }

        h3{
          font-size: 2.5em;
        }
        h4{
          font-size: 1.8em;
        }
      
    }
    .content-container-left-text{
      padding-top: 30px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    
    }

   }



  .content-container-left-subtext-links {
    flex-wrap: wrap;
    height: 100px;

  }

  .content-container-left-subtext {
    display: flex;
    justify-content: center;
    flex-direction: column;
   
  }
  .content-container-left-subtext-links{
    justify-content: center;

  }

  .content-container-right{
    width: 100%;
    height: 45vw;

    .triangle{
      margin: 0 auto;
      width: 80%;
      height: 40vw;
      max-height: 265px;
      background-image: url(../../public/business-woman-working-on-laptop-3120279-2629637-removebg-preview.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    .triangle-behind{
      display: none;
    }
  }

}


@media only screen and (min-width: 800px) {

  .title-mainpage-topnav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    

    .title-mainpage-topnav-right{
      position: absolute;
      width: 50%;
      min-width: 400px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      border-radius: 30px;
      border-top-right-radius:  0;
      border-bottom-right-radius:  0;
      background-image: linear-gradient(to right, rgb(240, 151, 240), rgb(111, 111, 211)) ;
      align-items: center;
      height: 60%;
      gap: 4vw;
      padding-right: 60px;
      box-shadow: rgba(0, 0, 0, 0.56) 10px 7px 15px 1px;
      
      .normal-Li{
        list-style: none;
        text-transform: uppercase;
        height: 100%;
          display: flex;
          align-items: center;
         transition: all 0.1s;

      
        

     
        
      }

      li:hover{
        font-weight: 500;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
      }

      .small-Li{
        display: none;
      }
    }
    .hamburguer {
      display: none;
      color: white;
    }

  }


  .fa-feather{
    color: white;
    font-size: 4em;
  }

  .title-mainpage{
    font-size: 1.5em;

  }

  .content-container-left-text{
    
    margin-top: 10px;
  span {
    font-size: 4.5em;
    text-align: center;
    
  }

  h3{
    font-size: 3.5em;
  }
  h4{
    font-size: 2.8em;

  }
  }

  .content-container-right{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    overflow:hidden;
    margin: 0 auto 40px;
    padding-right: 40px;
       
  }
  .triangle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    min-width: 400px;
    height: 30vw;
    min-height: 355px;
    background-image: url(../../public/business-woman-working-on-laptop-3120279-2629637-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    // margin-left: 80px;
    // clip-path: url(#clip);
    position: relative;
    z-index: 2;
    
    
    
  
  }
  .triangle-behind{
    margin-right: 80px;
    margin-bottom: 45px;
    width: 50%;
    min-width: 270px;
    height: 25vw;
    min-height: 325px;
    background-color: rgb(99, 102, 255);
    position: absolute;
    transform: rotate(15deg);
    z-index: 1;
    clip-path: url(#clip);
  }
 
}

@media only screen and (min-width:1000px) {
  .content-container-left{
    margin-left: 80px;
  }
}





