

.top--nav--bar{
  width: 100vw;
  height: 90px;
  margin-top: 0;
  background-color: #0c4767;

}

ul{
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  height: 90px;
  // font-size: clamp(16px, 4vw, 22px);
  // font-size: max(5vw, 10px);
  font-size: min(max(16px, 4vw), 22px);

}

li{
  list-style: none;

  // padding-right: 60px;

  
}
a{
  text-decoration: none;
  color: white;

}